.page-head {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    animation: bg 45s infinite linear;

    &_adapt {
        padding-top: 157px;
    }

    &__logo-wrap {
        padding-bottom: 11px;
    }

    &__absolute-bg {
        background-color: #151515;
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        z-index: 999;
        display: block;
        transition: all ease-in-out 0.1s;
    }

    &__wrap {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        min-height: 157px;

        &_app {
            min-height: 75px;
        }
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(8, max-content);
        align-items: center;
        gap: 16px;
    }

    &__item {
        order: 1;
        min-height: 38px;
        min-width: 42px;
        transition: all 0.3s ease-in-out;
        border-radius: 4px;

        &:nth-child(7) {
            order: 3;
        }

        &:last-child {
            order: 2;
        }

        & .active {
            background-color: #d81a24;
            border-radius: 4px;
        }

        &:hover {
            background-color: #d81a24;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        padding: 7px 10px;
        font-family: "Roboto Slab", sans-serif;

        &_btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            order: 2;
        }
    }

    &__film-block {
        height: calc(750px - 162px);
        // TODO fix height
    }

    &__item-search {
        position: relative;
    }

    &__label {
        display: block;
    }

    &__search-wrap {
        position: absolute;
        z-index: 10;
        right: -10px;
        top: 45px;
        min-width: 290px;
        transition: all 0.3s ease-in-out;
    }

    &__input {
        border: 0;
        outline: 0;
        padding: 7px 18px;
        border-radius: 6px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
        font-family: "Roboto", sans-serif;
    }

    &__form-submit {
        display: none;
    }

    &__film-box {
        max-width: 270px;
        cursor: pointer;
    }

    &__poster-wrap {
        position: relative;

        &:hover {
            .page-head__shadow {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    &__image-wrap {
        display: flex;
        border: 1px solid rgba(119, 32, 49, 0.5);
        margin-bottom: 10px;
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        transition: all ease-in-out 0.3s;
    }

    &__film-title {
        &:hover {
            & h6 {
                color: #d81a24;
            }
        }

        & h6 {
            font-size: 18px;
            color: white;
            transition: all ease-in-out 0.3s;
        }
    }

    &__film-text {
        color: rgba(255, 255, 255, 0.4);
    }

    &__film-language {
        text-transform: uppercase;
    }

    &__button-up {
        position: fixed;
        right: 40px;
        bottom: 40px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #d81a24;
        z-index: 10;
        transform: translateY(0);
        transition: all ease-in-out 0.3s;
        cursor: pointer;

        &_hidden {
            transform: translateY(500px);
        }
    }

    .icon-up {
        &::before {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: white;
        }
    }

    & .slick-slide {
        display: flex !important;
        justify-content: center;
    }

    & .slick-dots {
        position: static;
        padding-top: 10px;
    }
    
    & .slick-dots li {
        width: 12px;
        height: 12px;
        margin: 0 10px;
    }

    & .slick-dots li button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transition: all ease-in-out 0.1s;

        &:hover {
            background-color: white;
            opacity: 1;
        }

        &::before {
            content: "";
            border-radius: 50%;
            width: 8px;
            height: 8px;
            border: 2px solid white;
            background-color: transparent;
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }
    }

    & .slick-dots .slick-active button {
        background-color: white;
        border-radius: 50%;
        opacity: 1;

        &:focus {
            opacity: 1;
        }
    }
}

.x-icon {
    position: relative;
    min-height: 38px;
    min-width: 42px;

    &::before {
        content: '';
        height: 5px;
        width: 25px;
        background-color: white;
        position: absolute;
        border-radius: 4px;
        transform: rotate(45deg) translate(-1px, 2px);
        transition: all 0.1s ease-in-out;
    }

    &::after {
        content: '';
        height: 5px;
        width: 25px;
        background-color: white;
        position: absolute;
        border-radius: 4px;
        transform: rotate(-45deg) translate(-2px,-1px);
        transition: all 0.1s ease-in-out;
    }
}

.search-hidden {
    opacity: 0;
    visibility: hidden;
}

.header-down {
    &:hover {
        &::after {
            animation: toggle-head 0.4s 1;
        }
    }

    &::after {
        font-weight: 400;
        font-size: 8px;
        margin-left: 5px;
    }
}

.header-search {
    &:before {
        font-weight: 400;
        font-size: 22px;
    }
}

.header-shopping {
    order: 3;
    padding: 0 10px;
    min-height: 38px;
    

    &:before {
    font-weight: 400;
    font-size: 22px;
    margin-right: 5px;
    }
}

@keyframes toggle-head {
    0% {
        transform: translateY(0%);
   }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
   }
}

@keyframes bg {
    0% {
        background-position-x: left;
    }
    50% {
        background-position-x: center;
    }
    100% {
        background-position-x: left;
    }
}