* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

#root {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
    letter-spacing: 0.02em
}